{
  "canonicalName": "Tag Manager",
  "discoveryVersion": "v1",
  "parameters": {
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "alt": {
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true",
      "location": "query"
    },
    "$.xgafv": {
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ]
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    }
  },
  "id": "tagmanager:v2",
  "name": "tagmanager",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/tagmanager.manage.users": {
          "description": "Manage user permissions of your Google Tag Manager account and container"
        },
        "https://www.googleapis.com/auth/tagmanager.edit.containerversions": {
          "description": "Manage your Google Tag Manager container versions"
        },
        "https://www.googleapis.com/auth/tagmanager.publish": {
          "description": "Publish your Google Tag Manager container versions"
        },
        "https://www.googleapis.com/auth/tagmanager.delete.containers": {
          "description": "Delete your Google Tag Manager containers"
        },
        "https://www.googleapis.com/auth/tagmanager.manage.accounts": {
          "description": "View and manage your Google Tag Manager accounts"
        },
        "https://www.googleapis.com/auth/tagmanager.readonly": {
          "description": "View your Google Tag Manager container and its subcomponents"
        },
        "https://www.googleapis.com/auth/tagmanager.edit.containers": {
          "description": "Manage your Google Tag Manager container and its subcomponents, excluding versioning and publishing"
        }
      }
    }
  },
  "mtlsRootUrl": "https://tagmanager.mtls.googleapis.com/",
  "basePath": "",
  "kind": "discovery#restDescription",
  "schemas": {
    "RevertBuiltInVariableResponse": {
      "type": "object",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Whether the built-in variable is enabled after reversion."
        }
      },
      "id": "RevertBuiltInVariableResponse",
      "description": "The result of reverting a built-in variable in a workspace."
    },
    "GtagConfig": {
      "id": "GtagConfig",
      "description": "Represents a Google tag configuration.",
      "type": "object",
      "properties": {
        "parameter": {
          "items": {
            "$ref": "Parameter"
          },
          "type": "array",
          "description": "The Google tag config's parameters."
        },
        "type": {
          "description": "Google tag config type.",
          "type": "string"
        },
        "path": {
          "type": "string",
          "description": "Google tag config's API relative path."
        },
        "gtagConfigId": {
          "type": "string",
          "description": "The ID uniquely identifies the Google tag config."
        },
        "containerId": {
          "description": "Google tag container ID.",
          "type": "string"
        },
        "fingerprint": {
          "description": "The fingerprint of the Google tag config as computed at storage time. This value is recomputed whenever the config is modified.",
          "type": "string"
        },
        "accountId": {
          "type": "string",
          "description": "Google tag account ID."
        },
        "tagManagerUrl": {
          "type": "string",
          "description": "Auto generated link to the tag manager UI"
        },
        "workspaceId": {
          "description": "Google tag workspace ID. Only used by GTM containers. Set to 0 otherwise.",
          "type": "string"
        }
      }
    },
    "TeardownTag": {
      "description": "Represents a tag that fires after another tag in order to tear down dependencies.",
      "id": "TeardownTag",
      "properties": {
        "tagName": {
          "description": "The name of the teardown tag.",
          "type": "string"
        },
        "stopTeardownOnFailure": {
          "description": "If true, fire the teardown tag if and only if the main tag fires successfully. If false, fire the teardown tag regardless of main tag firing status.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "Parameter": {
      "type": "object",
      "id": "Parameter",
      "description": "Represents a Google Tag Manager Parameter.",
      "properties": {
        "key": {
          "type": "string",
          "description": "The named key that uniquely identifies a parameter. Required for top-level parameters, as well as map values. Ignored for list values."
        },
        "type": {
          "enumDescriptions": [
            "",
            "May include variable references.",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "typeUnspecified",
            "template",
            "integer",
            "boolean",
            "list",
            "map",
            "triggerReference",
            "tagReference"
          ],
          "description": "The parameter type. Valid values are: - boolean: The value represents a boolean, represented as 'true' or 'false' - integer: The value represents a 64-bit signed integer value, in base 10 - list: A list of parameters should be specified - map: A map of parameters should be specified - template: The value represents any text; this can include variable references (even variable references that might return non-string types) - trigger_reference: The value represents a trigger, represented as the trigger id - tag_reference: The value represents a tag, represented as the tag name ",
          "type": "string"
        },
        "value": {
          "description": "A parameter's value (may contain variable references). as appropriate to the specified type.",
          "type": "string"
        },
        "list": {
          "items": {
            "$ref": "Parameter"
          },
          "type": "array",
          "description": "This list parameter's parameters (keys will be ignored)."
        },
        "isWeakReference": {
          "type": "boolean",
          "description": "Whether or not a reference type parameter is strongly or weakly referenced. Only used by Transformations."
        },
        "map": {
          "items": {
            "$ref": "Parameter"
          },
          "description": "This map parameter's parameters (must have keys; keys must be unique).",
          "type": "array"
        }
      }
    },
    "RevertTransformationResponse": {
      "type": "object",
      "id": "RevertTransformationResponse",
      "properties": {
        "transformation": {
          "description": "Transformation as it appears in the latest container version since the last workspace synchronization operation. If no transformation is present, that means the transformation was deleted in the latest container version.",
          "$ref": "Transformation"
        }
      },
      "description": "The result of reverting a transformation in a workspace."
    },
    "ListEnvironmentsResponse": {
      "type": "object",
      "id": "ListEnvironmentsResponse",
      "properties": {
        "environment": {
          "type": "array",
          "items": {
            "$ref": "Environment"
          },
          "description": "All Environments of a GTM Container."
        },
        "nextPageToken": {
          "description": "Continuation token for fetching the next page of results.",
          "type": "string"
        }
      },
      "description": "List Environments Response."
    },
    "ListEnabledBuiltInVariablesResponse": {
      "properties": {
        "builtInVariable": {
          "items": {
            "$ref": "BuiltInVariable"
          },
          "description": "All GTM BuiltInVariables of a GTM container.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "Continuation token for fetching the next page of results.",
          "type": "string"
        }
      },
      "id": "ListEnabledBuiltInVariablesResponse",
      "description": "A list of enabled built-in variables.",
      "type": "object"
    },
    "AccountAccess": {
      "description": "Defines the Google Tag Manager Account access permissions.",
      "type": "object",
      "properties": {
        "permission": {
          "description": "Whether the user has no access, user access, or admin access to an account.",
          "enum": [
            "accountPermissionUnspecified",
            "noAccess",
            "user",
            "admin"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string"
        }
      },
      "id": "AccountAccess"
    },
    "ListUserPermissionsResponse": {
      "type": "object",
      "id": "ListUserPermissionsResponse",
      "description": "List user permissions response.",
      "properties": {
        "userPermission": {
          "description": "All GTM UserPermissions of a GTM Account.",
          "type": "array",
          "items": {
            "$ref": "UserPermission"
          }
        },
        "nextPageToken": {
          "description": "Continuation token for fetching the next page of results.",
          "type": "string"
        }
      }
    },
    "Transformation": {
      "type": "object",
      "description": "Represents a Google Tag Manager Transformation.",
      "properties": {
        "parentFolderId": {
          "description": "Parent folder id.",
          "type": "string"
        },
        "containerId": {
          "description": "GTM Container ID.",
          "type": "string"
        },
        "fingerprint": {
          "description": "The fingerprint of the GTM Transformation as computed at storage time. This value is recomputed whenever the transformation is modified.",
          "type": "string"
        },
        "workspaceId": {
          "description": "GTM Workspace ID.",
          "type": "string"
        },
        "type": {
          "description": "Transformation type.",
          "type": "string"
        },
        "parameter": {
          "type": "array",
          "items": {
            "$ref": "Parameter"
          },
          "description": "The transformation's parameters."
        },
        "path": {
          "type": "string",
          "description": "GTM transformation's API relative path."
        },
        "notes": {
          "description": "User notes on how to apply this transformation in the container.",
          "type": "string"
        },
        "tagManagerUrl": {
          "type": "string",
          "description": "Auto generated link to the tag manager UI"
        },
        "transformationId": {
          "description": "The Transformation ID uniquely identifies the GTM transformation.",
          "type": "string"
        },
        "name": {
          "description": "Transformation display name.",
          "type": "string"
        },
        "accountId": {
          "description": "GTM Account ID.",
          "type": "string"
        }
      },
      "id": "Transformation"
    },
    "TagConsentSetting": {
      "id": "TagConsentSetting",
      "properties": {
        "consentStatus": {
          "enumDescriptions": [
            "Default value where user has not specified any setting on it.",
            "Tag doesn't require any additional consent settings.",
            "Tag requires additional consent settings."
          ],
          "type": "string",
          "enum": [
            "notSet",
            "notNeeded",
            "needed"
          ],
          "description": "The tag's consent status. If set to NEEDED, the runtime will check that the consent types specified by the consent_type field have been granted."
        },
        "consentType": {
          "$ref": "Parameter",
          "description": "The type of consents to check for during tag firing if in the consent NEEDED state. This parameter must be of type LIST where each list item is of type STRING."
        }
      },
      "type": "object"
    },
    "ContainerVersionHeader": {
      "id": "ContainerVersionHeader",
      "description": "Represents a Google Tag Manager Container Version Header.",
      "type": "object",
      "properties": {
        "numTags": {
          "description": "Number of tags in the container version.",
          "type": "string"
        },
        "numTriggers": {
          "description": "Number of triggers in the container version.",
          "type": "string"
        },
        "containerVersionId": {
          "description": "The Container Version ID uniquely identifies the GTM Container Version.",
          "type": "string"
        },
        "numCustomTemplates": {
          "description": "Number of custom templates in the container version.",
          "type": "string"
        },
        "numVariables": {
          "description": "Number of variables in the container version.",
          "type": "string"
        },
        "numZones": {
          "description": "Number of zones in the container version.",
          "type": "string"
        },
        "name": {
          "description": "Container version display name.",
          "type": "string"
        },
        "deleted": {
          "description": "A value of true indicates this container version has been deleted.",
          "type": "boolean"
        },
        "accountId": {
          "description": "GTM Account ID.",
          "type": "string"
        },
        "numGtagConfigs": {
          "description": "Number of Google tag configs in the container version.",
          "type": "string"
        },
        "numClients": {
          "description": "Number of clients in the container version.",
          "type": "string"
        },
        "path": {
          "description": "GTM Container Version's API relative path.",
          "type": "string"
        },
        "containerId": {
          "description": "GTM Container ID.",
          "type": "string"
        },
        "numTransformations": {
          "description": "Number of transformations in the container version.",
          "type": "string"
        }
      }
    },
    "ListDestinationsResponse": {
      "id": "ListDestinationsResponse",
      "properties": {
        "destination": {
          "type": "array",
          "items": {
            "$ref": "Destination"
          },
          "description": "All Destinations linked to a GTM Container."
        },
        "nextPageToken": {
          "description": "Continuation token for fetching the next page of results.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "SyncStatus": {
      "properties": {
        "mergeConflict": {
          "type": "boolean",
          "description": "Synchornization operation detected a merge conflict."
        },
        "syncError": {
          "type": "boolean",
          "description": "An error occurred during the synchronization operation."
        }
      },
      "type": "object",
      "id": "SyncStatus",
      "description": "The status of a workspace after synchronization."
    },
    "RevertTagResponse": {
      "id": "RevertTagResponse",
      "description": "The result of reverting a tag in a workspace.",
      "properties": {
        "tag": {
          "$ref": "Tag",
          "description": "Tag as it appears in the latest container version since the last workspace synchronization operation. If no tag is present, that means the tag was deleted in the latest container version."
        }
      },
      "type": "object"
    },
    "Account": {
      "id": "Account",
      "type": "object",
      "properties": {
        "accountId": {
          "description": "The Account ID uniquely identifies the GTM Account.",
          "type": "string"
        },
        "features": {
          "description": "Read-only Account feature set",
          "$ref": "AccountFeatures"
        },
        "fingerprint": {
          "type": "string",
          "description": "The fingerprint of the GTM Account as computed at storage time. This value is recomputed whenever the account is modified."
        },
        "path": {
          "description": "GTM Account's API relative path.",
          "type": "string"
        },
        "shareData": {
          "type": "boolean",
          "description": "Whether the account shares data anonymously with Google and others. This flag enables benchmarking by sharing your data in an anonymous form. Google will remove all identifiable information about your website, combine the data with hundreds of other anonymous sites and report aggregate trends in the benchmarking service."
        },
        "name": {
          "description": "Account display name.",
          "type": "string"
        },
        "tagManagerUrl": {
          "description": "Auto generated link to the tag manager UI",
          "type": "string"
        }
      },
      "description": "Represents a Google Tag Manager Account."
    },
    "RevertClientResponse": {
      "description": "The result of reverting a client in a workspace.",
      "properties": {
        "client": {
          "$ref": "Client",
          "description": "Client as it appears in the latest container version since the last workspace synchronization operation. If no client is present, that means the client was deleted in the latest container version."
        }
      },
      "id": "RevertClientResponse",
      "type": "object"
    },
    "ListZonesResponse": {
      "type": "object",
      "properties": {
        "zone": {
          "items": {
            "$ref": "Zone"
          },
          "description": "All GTM Zones of a GTM Container.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "Continuation token for fetching the next page of results.",
          "type": "string"
        }
      },
      "id": "ListZonesResponse"
    },
    "BuiltInVariable": {
      "id": "BuiltInVariable",
      "type": "object",
      "properties": {
        "workspaceId": {
          "description": "GTM Workspace ID.",
          "type": "string"
        },
        "containerId": {
          "description": "GTM Container ID.",
          "type": "string"
        },
        "type": {
          "description": "Type of built-in variable.",
          "enum": [
            "builtInVariableTypeUnspecified",
            "pageUrl",
            "pageHostname",
            "pagePath",
            "referrer",
            "event",
            "clickElement",
            "clickClasses",
            "clickId",
            "clickTarget",
            "clickUrl",
            "clickText",
            "firstPartyServingUrl",
            "formElement",
            "formClasses",
            "formId",
            "formTarget",
            "formUrl",
            "formText",
            "errorMessage",
            "errorUrl",
            "errorLine",
            "newHistoryUrl",
            "oldHistoryUrl",
            "newHistoryFragment",
            "oldHistoryFragment",
            "newHistoryState",
            "oldHistoryState",
            "historySource",
            "containerVersion",
            "debugMode",
            "randomNumber",
            "containerId",
            "appId",
            "appName",
            "appVersionCode",
            "appVersionName",
            "language",
            "osVersion",
            "platform",
            "sdkVersion",
            "deviceName",
            "resolution",
            "advertiserId",
            "advertisingTrackingEnabled",
            "htmlId",
            "environmentName",
            "ampBrowserLanguage",
            "ampCanonicalPath",
            "ampCanonicalUrl",
            "ampCanonicalHost",
            "ampReferrer",
            "ampTitle",
            "ampClientId",
            "ampClientTimezone",
            "ampClientTimestamp",
            "ampClientScreenWidth",
            "ampClientScreenHeight",
            "ampClientScrollX",
            "ampClientScrollY",
            "ampClientMaxScrollX",
            "ampClientMaxScrollY",
            "ampTotalEngagedTime",
            "ampPageViewId",
            "ampPageLoadTime",
            "ampPageDownloadTime",
            "ampGtmEvent",
            "eventName",
            "firebaseEventParameterCampaign",
            "firebaseEventParameterCampaignAclid",
            "firebaseEventParameterCampaignAnid",
            "firebaseEventParameterCampaignClickTimestamp",
            "firebaseEventParameterCampaignContent",
            "firebaseEventParameterCampaignCp1",
            "firebaseEventParameterCampaignGclid",
            "firebaseEventParameterCampaignSource",
            "firebaseEventParameterCampaignTerm",
            "firebaseEventParameterCurrency",
            "firebaseEventParameterDynamicLinkAcceptTime",
            "firebaseEventParameterDynamicLinkLinkid",
            "firebaseEventParameterNotificationMessageDeviceTime",
            "firebaseEventParameterNotificationMessageId",
            "firebaseEventParameterNotificationMessageName",
            "firebaseEventParameterNotificationMessageTime",
            "firebaseEventParameterNotificationTopic",
            "firebaseEventParameterPreviousAppVersion",
            "firebaseEventParameterPreviousOsVersion",
            "firebaseEventParameterPrice",
            "firebaseEventParameterProductId",
            "firebaseEventParameterQuantity",
            "firebaseEventParameterValue",
            "videoProvider",
            "videoUrl",
            "videoTitle",
            "videoDuration",
            "videoPercent",
            "videoVisible",
            "videoStatus",
            "videoCurrentTime",
            "scrollDepthThreshold",
            "scrollDepthUnits",
            "scrollDepthDirection",
            "elementVisibilityRatio",
            "elementVisibilityTime",
            "elementVisibilityFirstTime",
            "elementVisibilityRecentTime",
            "requestPath",
            "requestMethod",
            "clientName",
            "queryString",
            "serverPageLocationUrl",
            "serverPageLocationPath",
            "serverPageLocationHostname",
            "visitorRegion",
            "analyticsClientId",
            "analyticsSessionId",
            "analyticsSessionNumber"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "For web or mobile.",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "For web or mobile.",
            "",
            "For web or mobile.",
            "For web or mobile.",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "name": {
          "description": "Name of the built-in variable to be used to refer to the built-in variable.",
          "type": "string"
        },
        "accountId": {
          "type": "string",
          "description": "GTM Account ID."
        },
        "path": {
          "description": "GTM BuiltInVariable's API relative path.",
          "type": "string"
        }
      },
      "description": "Built-in variables are a special category of variables that are pre-created and non-customizable. They provide common functionality like accessing properties of the gtm data layer, monitoring clicks, or accessing elements of a page URL."
    },
    "ListContainersResponse": {
      "properties": {
        "nextPageToken": {
          "description": "Continuation token for fetching the next page of results.",
          "type": "string"
        },
        "container": {
          "description": "All Containers of a GTM Account.",
          "type": "array",
          "items": {
            "$ref": "Container"
          }
        }
      },
      "id": "ListContainersResponse",
      "description": "List Containers Response.",
      "type": "object"
    },
    "ListContainerVersionsResponse": {
      "id": "ListContainerVersionsResponse",
      "description": "List container versions response.",
      "type": "object",
      "properties": {
        "containerVersionHeader": {
          "items": {
            "$ref": "ContainerVersionHeader"
          },
          "type": "array",
          "description": "All container version headers of a GTM Container."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token for fetching the next page of results."
        }
      }
    },
    "BulkUpdateWorkspaceResponse": {
      "id": "BulkUpdateWorkspaceResponse",
      "type": "object",
      "properties": {
        "changes": {
          "type": "array",
          "items": {
            "$ref": "Entity"
          },
          "description": "The entities that were added or updated during the bulk-update. Does not include entities that were deleted or updated by the system."
        }
      }
    },
    "FolderEntities": {
      "type": "object",
      "id": "FolderEntities",
      "properties": {
        "tag": {
          "items": {
            "$ref": "Tag"
          },
          "type": "array",
          "description": "The list of tags inside the folder."
        },
        "nextPageToken": {
          "description": "Continuation token for fetching the next page of results.",
          "type": "string"
        },
        "trigger": {
          "items": {
            "$ref": "Trigger"
          },
          "type": "array",
          "description": "The list of triggers inside the folder."
        },
        "variable": {
          "description": "The list of variables inside the folder.",
          "type": "array",
          "items": {
            "$ref": "Variable"
          }
        }
      },
      "description": "Represents a Google Tag Manager Folder's contents."
    },
    "ListAccountsResponse": {
      "id": "ListAccountsResponse",
      "properties": {
        "account": {
          "items": {
            "$ref": "Account"
          },
          "description": "List of GTM Accounts that a user has access to.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "Continuation token for fetching the next page of results.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "List Accounts Response."
    },
    "ListGtagConfigResponse": {
      "properties": {
        "gtagConfig": {
          "items": {
            "$ref": "GtagConfig"
          },
          "type": "array",
          "description": "All Google tag configs in a Container."
        },
        "nextPageToken": {
          "description": "Continuation token for fetching the next page of results.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ListGtagConfigResponse"
    },
    "Environment": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The environment display name. Can be set or changed only on USER type environments."
        },
        "containerVersionId": {
          "description": "Represents a link to a container version.",
          "type": "string"
        },
        "containerId": {
          "description": "GTM Container ID.",
          "type": "string"
        },
        "fingerprint": {
          "type": "string",
          "description": "The fingerprint of the GTM environment as computed at storage time. This value is recomputed whenever the environment is modified."
        },
        "description": {
          "description": "The environment description. Can be set or changed only on USER type environments.",
          "type": "string"
        },
        "type": {
          "description": "The type of this environment.",
          "enum": [
            "user",
            "live",
            "latest",
            "workspace"
          ],
          "enumDescriptions": [
            "Points to a user defined environment.",
            "Points to the current live container version.",
            "Points to the latest container version.",
            "Automatically managed environment that points to a workspace preview or version created by a workspace."
          ],
          "type": "string"
        },
        "path": {
          "description": "GTM Environment's API relative path.",
          "type": "string"
        },
        "authorizationCode": {
          "description": "The environment authorization code.",
          "type": "string"
        },
        "enableDebug": {
          "description": "Whether or not to enable debug by default for the environment.",
          "type": "boolean"
        },
        "url": {
          "description": "Default preview page url for the environment.",
          "type": "string"
        },
        "workspaceId": {
          "description": "Represents a link to a quick preview of a workspace.",
          "type": "string"
        },
        "tagManagerUrl": {
          "description": "Auto generated link to the tag manager UI",
          "type": "string"
        },
        "environmentId": {
          "description": "GTM Environment ID uniquely identifies the GTM Environment.",
          "type": "string"
        },
        "accountId": {
          "description": "GTM Account ID.",
          "type": "string"
        },
        "authorizationTimestamp": {
          "type": "string",
          "format": "google-datetime",
          "description": "The last update time-stamp for the authorization code."
        }
      },
      "id": "Environment",
      "description": "Represents a Google Tag Manager Environment. Note that a user can create, delete and update environments of type USER, but can only update the enable_debug and url fields of environments of other types.",
      "type": "object"
    },
    "GetContainerSnippetResponse": {
      "properties": {
        "snippet": {
          "description": "Tagging snippet for a Container.",
          "type": "string"
        },
        "containerConfig": {
          "type": "string",
          "description": "Server container config param for manually provisioning a tagging server."
        }
      },
      "type": "object",
      "id": "GetContainerSnippetResponse"
    },
    "Condition": {
      "properties": {
        "parameter": {
          "description": "A list of named parameters (key/value), depending on the condition's type. Notes: - For binary operators, include parameters named arg0 and arg1 for specifying the left and right operands, respectively. - At this time, the left operand (arg0) must be a reference to a variable. - For case-insensitive Regex matching, include a boolean parameter named ignore_case that is set to true. If not specified or set to any other value, the matching will be case sensitive. - To negate an operator, include a boolean parameter named negate boolean parameter that is set to true. ",
          "items": {
            "$ref": "Parameter"
          },
          "type": "array"
        },
        "type": {
          "type": "string",
          "description": "The type of operator for this condition.",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "conditionTypeUnspecified",
            "equals",
            "contains",
            "startsWith",
            "endsWith",
            "matchRegex",
            "greater",
            "greaterOrEquals",
            "less",
            "lessOrEquals",
            "cssSelector",
            "urlMatches"
          ]
        }
      },
      "type": "object",
      "id": "Condition",
      "description": "Represents a predicate."
    },
    "AccountFeatures": {
      "type": "object",
      "id": "AccountFeatures",
      "properties": {
        "supportMultipleContainers": {
          "description": "Whether this Account supports multiple Containers.",
          "type": "boolean"
        },
        "supportUserPermissions": {
          "description": "Whether this Account supports user permissions managed by GTM.",
          "type": "boolean"
        }
      }
    },
    "RevertFolderResponse": {
      "type": "object",
      "id": "RevertFolderResponse",
      "description": "The result of reverting folder changes in a workspace.",
      "properties": {
        "folder": {
          "description": "Folder as it appears in the latest container version since the last workspace synchronization operation. If no folder is present, that means the folder was deleted in the latest container version.",
          "$ref": "Folder"
        }
      }
    },
    "Tag": {
      "properties": {
        "tagManagerUrl": {
          "description": "Auto generated link to the tag manager UI",
          "type": "string"
        },
        "monitoringMetadata": {
          "$ref": "Parameter",
          "description": "A map of key-value pairs of tag metadata to be included in the event data for tag monitoring. Notes: - This parameter must be type MAP. - Each parameter in the map are type TEMPLATE, however cannot contain variable references. "
        },
        "priority": {
          "$ref": "Parameter",
          "description": "User defined numeric priority of the tag. Tags are fired asynchronously in order of priority. Tags with higher numeric value fire first. A tag's priority can be a positive or negative value. The default value is 0."
        },
        "paused": {
          "description": "Indicates whether the tag is paused, which prevents the tag from firing.",
          "type": "boolean"
        },
        "parentFolderId": {
          "type": "string",
          "description": "Parent folder id."
        },
        "containerId": {
          "description": "GTM Container ID.",
          "type": "string"
        },
        "type": {
          "description": "GTM Tag Type.",
          "type": "string"
        },
        "liveOnly": {
          "type": "boolean",
          "description": "If set to true, this tag will only fire in the live environment (e.g. not in preview or debug mode)."
        },
        "scheduleEndMs": {
          "type": "string",
          "format": "int64",
          "description": "The end timestamp in milliseconds to schedule a tag."
        },
        "parameter": {
          "items": {
            "$ref": "Parameter"
          },
          "description": "The tag's parameters.",
          "type": "array"
        },
        "path": {
          "description": "GTM Tag's API relative path.",
          "type": "string"
        },
        "firingTriggerId": {
          "type": "array",
          "description": "Firing trigger IDs. A tag will fire when any of the listed triggers are true and all of its blockingTriggerIds (if any specified) are false.",
          "items": {
            "type": "string"
          }
        },
        "setupTag": {
          "items": {
            "$ref": "SetupTag"
          },
          "type": "array",
          "description": "The list of setup tags. Currently we only allow one."
        },
        "monitoringMetadataTagNameKey": {
          "type": "string",
          "description": "If non-empty, then the tag display name will be included in the monitoring metadata map using the key specified."
        },
        "blockingTriggerId": {
          "items": {
            "type": "string"
          },
          "description": "Blocking trigger IDs. If any of the listed triggers evaluate to true, the tag will not fire.",
          "type": "array"
        },
        "tagFiringOption": {
          "enumDescriptions": [
            "",
            "Tag can be fired multiple times per event.",
            "Tag can only be fired per event but can be fired multiple times per load (e.g., app load or page load).",
            "Tag can only be fired per load (e.g., app load or page load)."
          ],
          "enum": [
            "tagFiringOptionUnspecified",
            "unlimited",
            "oncePerEvent",
            "oncePerLoad"
          ],
          "description": "Option to fire this tag.",
          "type": "string"
        },
        "consentSettings": {
          "description": "Consent settings of a tag.",
          "$ref": "TagConsentSetting"
        },
        "workspaceId": {
          "type": "string",
          "description": "GTM Workspace ID."
        },
        "tagId": {
          "type": "string",
          "description": "The Tag ID uniquely identifies the GTM Tag."
        },
        "teardownTag": {
          "type": "array",
          "description": "The list of teardown tags. Currently we only allow one.",
          "items": {
            "$ref": "TeardownTag"
          }
        },
        "scheduleStartMs": {
          "type": "string",
          "description": "The start timestamp in milliseconds to schedule a tag.",
          "format": "int64"
        },
        "name": {
          "description": "Tag display name.",
          "type": "string"
        },
        "accountId": {
          "description": "GTM Account ID.",
          "type": "string"
        },
        "fingerprint": {
          "description": "The fingerprint of the GTM Tag as computed at storage time. This value is recomputed whenever the tag is modified.",
          "type": "string"
        },
        "notes": {
          "description": "User notes on how to apply this tag in the container.",
          "type": "string"
        }
      },
      "id": "Tag",
      "type": "object",
      "description": "Represents a Google Tag Manager Tag."
    },
    "CreateContainerVersionResponse": {
      "id": "CreateContainerVersionResponse",
      "type": "object",
      "description": "Create container versions response.",
      "properties": {
        "syncStatus": {
          "description": "Whether version creation failed when syncing the workspace to the latest container version.",
          "$ref": "SyncStatus"
        },
        "newWorkspacePath": {
          "description": "Auto generated workspace path created as a result of version creation. This field should only be populated if the created version was not a quick preview.",
          "type": "string"
        },
        "compilerError": {
          "type": "boolean",
          "description": "Compiler errors or not."
        },
        "containerVersion": {
          "description": "The container version created.",
          "$ref": "ContainerVersion"
        }
      }
    },
    "Container": {
      "type": "object",
      "properties": {
        "notes": {
          "description": "Container Notes.",
          "type": "string"
        },
        "publicId": {
          "type": "string",
          "description": "Container Public ID."
        },
        "accountId": {
          "description": "GTM Account ID.",
          "type": "string"
        },
        "domainName": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "List of domain names associated with the Container."
        },
        "usageContext": {
          "items": {
            "enum": [
              "usageContextUnspecified",
              "web",
              "android",
              "ios",
              "androidSdk5",
              "iosSdk5",
              "amp",
              "server"
            ],
            "type": "string",
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ]
          },
          "description": "List of Usage Contexts for the Container. Valid values include: web, android, or ios.",
          "type": "array"
        },
        "name": {
          "type": "string",
          "description": "Container display name."
        },
        "containerId": {
          "type": "string",
          "description": "The Container ID uniquely identifies the GTM Container."
        },
        "fingerprint": {
          "type": "string",
          "description": "The fingerprint of the GTM Container as computed at storage time. This value is recomputed whenever the account is modified."
        },
        "features": {
          "description": "Read-only Container feature set.",
          "$ref": "ContainerFeatures"
        },
        "tagManagerUrl": {
          "type": "string",
          "description": "Auto generated link to the tag manager UI"
        },
        "path": {
          "description": "GTM Container's API relative path.",
          "type": "string"
        },
        "taggingServerUrls": {
          "description": "List of server-side container URLs for the Container. If multiple URLs are provided, all URL paths must match.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "tagIds": {
          "type": "array",
          "description": "All Tag IDs that refer to this Container.",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Represents a Google Tag Manager Container, which specifies the platform tags will run on, manages workspaces, and retains container versions.",
      "id": "Container"
    },
    "VariableFormatValue": {
      "type": "object",
      "id": "VariableFormatValue",
      "properties": {
        "convertToNumber": {
          "type": "string",
          "enumDescriptions": [
            "",
            "The option to convert a variable value to a number with a period as the decimal separator.",
            "The option to convert a variable value to a number with a comma as the decimal separator.",
            "The option to convert a variable value to a number with automatic decimal separator detection."
          ],
          "description": "The option to convert a variable value to a number.",
          "enum": [
            "decimalSeparatorTypeUnspecified",
            "period",
            "comma",
            "automatic"
          ]
        },
        "convertNullToValue": {
          "description": "The value to convert if a variable value is null.",
          "$ref": "Parameter"
        },
        "convertTrueToValue": {
          "description": "The value to convert if a variable value is true.",
          "$ref": "Parameter"
        },
        "convertToBoolean": {
          "description": "The option to convert a variable value to a boolean.",
          "type": "boolean"
        },
        "caseConversionType": {
          "type": "string",
          "description": "The option to convert a string-type variable value to either lowercase or uppercase.",
          "enumDescriptions": [
            "",
            "The option to convert a variable value to lowercase.",
            "The option to convert a variable value to uppercase."
          ],
          "enum": [
            "none",
            "lowercase",
            "uppercase"
          ]
        },
        "convertUndefinedToValue": {
          "description": "The value to convert if a variable value is undefined.",
          "$ref": "Parameter"
        },
        "convertFalseToValue": {
          "description": "The value to convert if a variable value is false.",
          "$ref": "Parameter"
        }
      }
    },
    "SetupTag": {
      "properties": {
        "tagName": {
          "description": "The name of the setup tag.",
          "type": "string"
        },
        "stopOnSetupFailure": {
          "description": "If true, fire the main tag if and only if the setup tag fires successfully. If false, fire the main tag regardless of setup tag firing status.",
          "type": "boolean"
        }
      },
      "description": "Represents a reference to atag that fires before another tag in order to set up dependencies.",
      "type": "object",
      "id": "SetupTag"
    },
    "PublishContainerVersionResponse": {
      "id": "PublishContainerVersionResponse",
      "properties": {
        "containerVersion": {
          "description": "The container version created.",
          "$ref": "ContainerVersion"
        },
        "compilerError": {
          "description": "Compiler errors or not.",
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "Publish container version response."
    },
    "GalleryReference": {
      "id": "GalleryReference",
      "type": "object",
      "properties": {
        "version": {
          "type": "string",
          "description": "The version of the community gallery template."
        },
        "galleryTemplateId": {
          "type": "string",
          "description": "ID for the gallery template that is generated once during first sync and travels with the template redirects."
        },
        "signature": {
          "description": "The signature of the community gallery template as computed at import time. This value is recomputed whenever the template is updated from the gallery.",
          "type": "string"
        },
        "host": {
          "description": "The name of the host for the community gallery template.",
          "type": "string"
        },
        "owner": {
          "description": "The name of the owner for the community gallery template.",
          "type": "string"
        },
        "repository": {
          "description": "The name of the repository for the community gallery template.",
          "type": "string"
        },
        "isModified": {
          "description": "If a user has manually edited the community gallery template.",
          "type": "boolean"
        },
        "templateDeveloperId": {
          "description": "The developer id of the community gallery template. This value is set whenever the template is created from the gallery.",
          "type": "string"
        }
      },
      "description": "Represents the link between a custom template and an entry on the Community Template Gallery site."
    },
    "Workspace": {
      "description": "Represents a Google Tag Manager Container Workspace.",
      "properties": {
        "tagManagerUrl": {
          "type": "string",
          "description": "Auto generated link to the tag manager UI"
        },
        "containerId": {
          "type": "string",
          "description": "GTM Container ID."
        },
        "fingerprint": {
          "type": "string",
          "description": "The fingerprint of the GTM Workspace as computed at storage time. This value is recomputed whenever the workspace is modified."
        },
        "workspaceId": {
          "description": "The Workspace ID uniquely identifies the GTM Workspace.",
          "type": "string"
        },
        "path": {
          "description": "GTM Workspace's API relative path.",
          "type": "string"
        },
        "description": {
          "description": "Workspace description.",
          "type": "string"
        },
        "accountId": {
          "description": "GTM Account ID.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Workspace display name."
        }
      },
      "type": "object",
      "id": "Workspace"
    },
    "CreateContainerVersionRequestVersionOptions": {
      "description": "Options for new container versions.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the container version to be created."
        },
        "notes": {
          "description": "The notes of the container version to be created.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "CreateContainerVersionRequestVersionOptions"
    },
    "SyncWorkspaceResponse": {
      "id": "SyncWorkspaceResponse",
      "properties": {
        "syncStatus": {
          "description": "Indicates whether synchronization caused a merge conflict or sync error.",
          "$ref": "SyncStatus"
        },
        "mergeConflict": {
          "type": "array",
          "items": {
            "$ref": "MergeConflict"
          },
          "description": "The merge conflict after sync. If this field is not empty, the sync is still treated as successful. But a version cannot be created until all conflicts are resolved."
        }
      },
      "type": "object",
      "description": "A response after synchronizing the workspace to the latest container version."
    },
    "ListWorkspacesResponse": {
      "description": "A list of workspaces in a container.",
      "id": "ListWorkspacesResponse",
      "properties": {
        "workspace": {
          "type": "array",
          "items": {
            "$ref": "Workspace"
          },
          "description": "All Workspaces of a GTM Container."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token for fetching the next page of results."
        }
      },
      "type": "object"
    },
    "ContainerVersion": {
      "description": "Represents a Google Tag Manager Container Version.",
      "properties": {
        "containerVersionId": {
          "description": "The Container Version ID uniquely identifies the GTM Container Version.",
          "type": "string"
        },
        "variable": {
          "description": "The variables in the container that this version was taken from.",
          "items": {
            "$ref": "Variable"
          },
          "type": "array"
        },
        "deleted": {
          "description": "A value of true indicates this container version has been deleted.",
          "type": "boolean"
        },
        "accountId": {
          "description": "GTM Account ID.",
          "type": "string"
        },
        "container": {
          "$ref": "Container",
          "description": "The container that this version was taken from."
        },
        "transformation": {
          "description": "The transformations in the container that this version was taken from.",
          "type": "array",
          "items": {
            "$ref": "Transformation"
          }
        },
        "zone": {
          "items": {
            "$ref": "Zone"
          },
          "description": "The zones in the container that this version was taken from.",
          "type": "array"
        },
        "tagManagerUrl": {
          "type": "string",
          "description": "Auto generated link to the tag manager UI"
        },
        "path": {
          "description": "GTM Container Version's API relative path.",
          "type": "string"
        },
        "client": {
          "items": {
            "$ref": "Client"
          },
          "type": "array",
          "description": "The clients in the container that this version was taken from."
        },
        "folder": {
          "items": {
            "$ref": "Folder"
          },
          "description": "The folders in the container that this version was taken from.",
          "type": "array"
        },
        "description": {
          "description": "Container version description.",
          "type": "string"
        },
        "containerId": {
          "description": "GTM Container ID.",
          "type": "string"
        },
        "fingerprint": {
          "type": "string",
          "description": "The fingerprint of the GTM Container Version as computed at storage time. This value is recomputed whenever the container version is modified."
        },
        "tag": {
          "description": "The tags in the container that this version was taken from.",
          "type": "array",
          "items": {
            "$ref": "Tag"
          }
        },
        "builtInVariable": {
          "items": {
            "$ref": "BuiltInVariable"
          },
          "type": "array",
          "description": "The built-in variables in the container that this version was taken from."
        },
        "name": {
          "description": "Container version display name.",
          "type": "string"
        },
        "gtagConfig": {
          "items": {
            "$ref": "GtagConfig"
          },
          "type": "array",
          "description": "The Google tag configs in the container that this version was taken from."
        },
        "trigger": {
          "items": {
            "$ref": "Trigger"
          },
          "type": "array",
          "description": "The triggers in the container that this version was taken from."
        },
        "customTemplate": {
          "description": "The custom templates in the container that this version was taken from.",
          "type": "array",
          "items": {
            "$ref": "CustomTemplate"
          }
        }
      },
      "id": "ContainerVersion",
      "type": "object"
    },
    "ListFoldersResponse": {
      "id": "ListFoldersResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token for fetching the next page of results."
        },
        "folder": {
          "description": "All GTM Folders of a GTM Container.",
          "type": "array",
          "items": {
            "$ref": "Folder"
          }
        }
      },
      "description": "List Folders Response.",
      "type": "object"
    },
    "ContainerAccess": {
      "description": "Defines the Google Tag Manager Container access permissions.",
      "properties": {
        "containerId": {
          "type": "string",
          "description": "GTM Container ID."
        },
        "permission": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "description": "List of Container permissions.",
          "enum": [
            "containerPermissionUnspecified",
            "noAccess",
            "read",
            "edit",
            "approve",
            "publish"
          ],
          "type": "string"
        }
      },
      "type": "object",
      "id": "ContainerAccess"
    },
    "ListClientsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token for fetching the next page of results."
        },
        "client": {
          "description": "All GTM Clients of a GTM Container.",
          "items": {
            "$ref": "Client"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "ListClientsResponse"
    },
    "Folder": {
      "id": "Folder",
      "description": "Represents a Google Tag Manager Folder.",
      "properties": {
        "notes": {
          "description": "User notes on how to apply this folder in the container.",
          "type": "string"
        },
        "accountId": {
          "description": "GTM Account ID.",
          "type": "string"
        },
        "containerId": {
          "description": "GTM Container ID.",
          "type": "string"
        },
        "fingerprint": {
          "type": "string",
          "description": "The fingerprint of the GTM Folder as computed at storage time. This value is recomputed whenever the folder is modified."
        },
        "workspaceId": {
          "description": "GTM Workspace ID.",
          "type": "string"
        },
        "tagManagerUrl": {
          "description": "Auto generated link to the tag manager UI",
          "type": "string"
        },
        "path": {
          "type": "string",
          "description": "GTM Folder's API relative path."
        },
        "folderId": {
          "type": "string",
          "description": "The Folder ID uniquely identifies the GTM Folder."
        },
        "name": {
          "description": "Folder display name.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ProposedChange": {
      "type": "object",
      "properties": {
        "changes": {
          "items": {
            "$ref": "Entity"
          },
          "type": "array",
          "description": "The list of workspace changes to be applied."
        }
      },
      "id": "ProposedChange"
    },
    "ListTransformationsResponse": {
      "id": "ListTransformationsResponse",
      "type": "object",
      "properties": {
        "transformation": {
          "type": "array",
          "items": {
            "$ref": "Transformation"
          },
          "description": "All GTM Transformations of a GTM Container."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token for fetching the next page of results."
        }
      }
    },
    "CustomTemplate": {
      "type": "object",
      "id": "CustomTemplate",
      "properties": {
        "containerId": {
          "type": "string",
          "description": "GTM Container ID."
        },
        "fingerprint": {
          "type": "string",
          "description": "The fingerprint of the GTM Custom Template as computed at storage time. This value is recomputed whenever the template is modified."
        },
        "name": {
          "description": "Custom Template display name.",
          "type": "string"
        },
        "workspaceId": {
          "type": "string",
          "description": "GTM Workspace ID."
        },
        "templateId": {
          "type": "string",
          "description": "The Custom Template ID uniquely identifies the GTM custom template."
        },
        "accountId": {
          "type": "string",
          "description": "GTM Account ID."
        },
        "galleryReference": {
          "$ref": "GalleryReference",
          "description": "A reference to the Community Template Gallery entry."
        },
        "path": {
          "description": "GTM Custom Template's API relative path.",
          "type": "string"
        },
        "templateData": {
          "description": "The custom template in text format.",
          "type": "string"
        },
        "tagManagerUrl": {
          "description": "Auto generated link to the tag manager UI",
          "type": "string"
        }
      },
      "description": "Represents a Google Tag Manager Custom Template's contents."
    },
    "ListTagsResponse": {
      "type": "object",
      "description": "List Tags Response.",
      "properties": {
        "tag": {
          "items": {
            "$ref": "Tag"
          },
          "description": "All GTM Tags of a GTM Container.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token for fetching the next page of results."
        }
      },
      "id": "ListTagsResponse"
    },
    "RevertVariableResponse": {
      "type": "object",
      "properties": {
        "variable": {
          "description": "Variable as it appears in the latest container version since the last workspace synchronization operation. If no variable is present, that means the variable was deleted in the latest container version.",
          "$ref": "Variable"
        }
      },
      "id": "RevertVariableResponse",
      "description": "The result of reverting a variable in a workspace."
    },
    "UserPermission": {
      "properties": {
        "emailAddress": {
          "type": "string",
          "description": "User's email address."
        },
        "accountAccess": {
          "$ref": "AccountAccess",
          "description": "GTM Account access permissions."
        },
        "containerAccess": {
          "description": "GTM Container access permissions.",
          "type": "array",
          "items": {
            "$ref": "ContainerAccess"
          }
        },
        "path": {
          "description": "GTM UserPermission's API relative path.",
          "type": "string"
        },
        "accountId": {
          "description": "The Account ID uniquely identifies the GTM Account.",
          "type": "string"
        }
      },
      "id": "UserPermission",
      "type": "object",
      "description": "Represents a user's permissions to an account and its container."
    },
    "Trigger": {
      "properties": {
        "path": {
          "description": "GTM Trigger's API relative path.",
          "type": "string"
        },
        "checkValidation": {
          "$ref": "Parameter",
          "description": "Whether or not we should only fire tags if the form submit or link click event is not cancelled by some other event handler (e.g. because of validation). Only valid for Form Submission and Link Click triggers."
        },
        "parameter": {
          "type": "array",
          "description": "Additional parameters.",
          "items": {
            "$ref": "Parameter"
          }
        },
        "intervalSeconds": {
          "$ref": "Parameter",
          "description": "Time between Timer Events to fire (in seconds). Only valid for AMP Timer trigger."
        },
        "totalTimeMinMilliseconds": {
          "description": "A visibility trigger minimum total visible time (in milliseconds). Only valid for AMP Visibility trigger.",
          "$ref": "Parameter"
        },
        "customEventFilter": {
          "items": {
            "$ref": "Condition"
          },
          "type": "array",
          "description": "Used in the case of custom event, which is fired iff all Conditions are true."
        },
        "triggerId": {
          "type": "string",
          "description": "The Trigger ID uniquely identifies the GTM Trigger."
        },
        "tagManagerUrl": {
          "type": "string",
          "description": "Auto generated link to the tag manager UI"
        },
        "selector": {
          "$ref": "Parameter",
          "description": "A click trigger CSS selector (i.e. \"a\", \"button\" etc.). Only valid for AMP Click trigger."
        },
        "fingerprint": {
          "type": "string",
          "description": "The fingerprint of the GTM Trigger as computed at storage time. This value is recomputed whenever the trigger is modified."
        },
        "maxTimerLengthSeconds": {
          "description": "Max time to fire Timer Events (in seconds). Only valid for AMP Timer trigger.",
          "$ref": "Parameter"
        },
        "interval": {
          "description": "Time between triggering recurring Timer Events (in milliseconds). Only valid for Timer triggers.",
          "$ref": "Parameter"
        },
        "uniqueTriggerId": {
          "$ref": "Parameter",
          "description": "Globally unique id of the trigger that auto-generates this (a Form Submit, Link Click or Timer listener) if any. Used to make incompatible auto-events work together with trigger filtering based on trigger ids. This value is populated during output generation since the tags implied by triggers don't exist until then. Only valid for Form Submit, Link Click and Timer triggers."
        },
        "parentFolderId": {
          "type": "string",
          "description": "Parent folder id."
        },
        "name": {
          "type": "string",
          "description": "Trigger display name."
        },
        "horizontalScrollPercentageList": {
          "description": "List of integer percentage values for scroll triggers. The trigger will fire when each percentage is reached when the view is scrolled horizontally. Only valid for AMP scroll triggers.",
          "$ref": "Parameter"
        },
        "workspaceId": {
          "type": "string",
          "description": "GTM Workspace ID."
        },
        "accountId": {
          "type": "string",
          "description": "GTM Account ID."
        },
        "visiblePercentageMax": {
          "description": "A visibility trigger maximum percent visibility. Only valid for AMP Visibility trigger.",
          "$ref": "Parameter"
        },
        "eventName": {
          "description": "Name of the GTM event that is fired. Only valid for Timer triggers.",
          "$ref": "Parameter"
        },
        "limit": {
          "$ref": "Parameter",
          "description": "Limit of the number of GTM events this Timer Trigger will fire. If no limit is set, we will continue to fire GTM events until the user leaves the page. Only valid for Timer triggers."
        },
        "autoEventFilter": {
          "type": "array",
          "items": {
            "$ref": "Condition"
          },
          "description": "Used in the case of auto event tracking."
        },
        "containerId": {
          "type": "string",
          "description": "GTM Container ID."
        },
        "verticalScrollPercentageList": {
          "description": "List of integer percentage values for scroll triggers. The trigger will fire when each percentage is reached when the view is scrolled vertically. Only valid for AMP scroll triggers.",
          "$ref": "Parameter"
        },
        "visiblePercentageMin": {
          "$ref": "Parameter",
          "description": "A visibility trigger minimum percent visibility. Only valid for AMP Visibility trigger."
        },
        "filter": {
          "type": "array",
          "description": "The trigger will only fire iff all Conditions are true.",
          "items": {
            "$ref": "Condition"
          }
        },
        "notes": {
          "description": "User notes on how to apply this trigger in the container.",
          "type": "string"
        },
        "waitForTags": {
          "description": "Whether or not we should delay the form submissions or link opening until all of the tags have fired (by preventing the default action and later simulating the default action). Only valid for Form Submission and Link Click triggers.",
          "$ref": "Parameter"
        },
        "visibilitySelector": {
          "description": "A visibility trigger CSS selector (i.e. \"#id\"). Only valid for AMP Visibility trigger.",
          "$ref": "Parameter"
        },
        "waitForTagsTimeout": {
          "$ref": "Parameter",
          "description": "How long to wait (in milliseconds) for tags to fire when 'waits_for_tags' above evaluates to true. Only valid for Form Submission and Link Click triggers."
        },
        "type": {
          "enum": [
            "eventTypeUnspecified",
            "pageview",
            "domReady",
            "windowLoaded",
            "customEvent",
            "triggerGroup",
            "init",
            "consentInit",
            "serverPageview",
            "always",
            "firebaseAppException",
            "firebaseAppUpdate",
            "firebaseCampaign",
            "firebaseFirstOpen",
            "firebaseInAppPurchase",
            "firebaseNotificationDismiss",
            "firebaseNotificationForeground",
            "firebaseNotificationOpen",
            "firebaseNotificationReceive",
            "firebaseOsUpdate",
            "firebaseSessionStart",
            "firebaseUserEngagement",
            "formSubmission",
            "click",
            "linkClick",
            "jsError",
            "historyChange",
            "timer",
            "ampClick",
            "ampTimer",
            "ampScroll",
            "ampVisibility",
            "youTubeVideo",
            "scrollDepth",
            "elementVisibility"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "description": "Defines the data layer event that causes this trigger.",
          "type": "string"
        },
        "continuousTimeMinMilliseconds": {
          "$ref": "Parameter",
          "description": "A visibility trigger minimum continuous visible time (in milliseconds). Only valid for AMP Visibility trigger."
        }
      },
      "type": "object",
      "id": "Trigger",
      "description": "Represents a Google Tag Manager Trigger"
    },
    "ZoneChildContainer": {
      "description": "Represents a child container of a Zone.",
      "id": "ZoneChildContainer",
      "properties": {
        "publicId": {
          "type": "string",
          "description": "The child container's public id."
        },
        "nickname": {
          "type": "string",
          "description": "The zone's nickname for the child container."
        }
      },
      "type": "object"
    },
    "Client": {
      "properties": {
        "accountId": {
          "type": "string",
          "description": "GTM Account ID."
        },
        "notes": {
          "description": "User notes on how to apply this tag in the container.",
          "type": "string"
        },
        "containerId": {
          "description": "GTM Container ID.",
          "type": "string"
        },
        "fingerprint": {
          "type": "string",
          "description": "The fingerprint of the GTM Client as computed at storage time. This value is recomputed whenever the client is modified."
        },
        "clientId": {
          "type": "string",
          "description": "The Client ID uniquely identifies the GTM client."
        },
        "path": {
          "type": "string",
          "description": "GTM client's API relative path."
        },
        "type": {
          "description": "Client type.",
          "type": "string"
        },
        "parentFolderId": {
          "description": "Parent folder id.",
          "type": "string"
        },
        "priority": {
          "type": "integer",
          "description": "Priority determines relative firing order.",
          "format": "int32"
        },
        "tagManagerUrl": {
          "type": "string",
          "description": "Auto generated link to the tag manager UI"
        },
        "name": {
          "description": "Client display name.",
          "type": "string"
        },
        "parameter": {
          "type": "array",
          "items": {
            "$ref": "Parameter"
          },
          "description": "The client's parameters."
        },
        "workspaceId": {
          "description": "GTM Workspace ID.",
          "type": "string"
        }
      },
      "id": "Client",
      "type": "object"
    },
    "ZoneBoundary": {
      "properties": {
        "condition": {
          "type": "array",
          "description": "The conditions that, when conjoined, make up the boundary.",
          "items": {
            "$ref": "Condition"
          }
        },
        "customEvaluationTriggerId": {
          "items": {
            "type": "string"
          },
          "description": "Custom evaluation trigger IDs. A zone will evaluate its boundary conditions when any of the listed triggers are true.",
          "type": "array"
        }
      },
      "description": "Represents a Zone's boundaries.",
      "type": "object",
      "id": "ZoneBoundary"
    },
    "ContainerFeatures": {
      "type": "object",
      "properties": {
        "supportTemplates": {
          "description": "Whether this Container supports templates.",
          "type": "boolean"
        },
        "supportTags": {
          "type": "boolean",
          "description": "Whether this Container supports tags."
        },
        "supportVersions": {
          "description": "Whether this Container supports Container versions.",
          "type": "boolean"
        },
        "supportFolders": {
          "type": "boolean",
          "description": "Whether this Container supports folders."
        },
        "supportVariables": {
          "description": "Whether this Container supports variables.",
          "type": "boolean"
        },
        "supportZones": {
          "description": "Whether this Container supports zones.",
          "type": "boolean"
        },
        "supportTriggers": {
          "description": "Whether this Container supports triggers.",
          "type": "boolean"
        },
        "supportUserPermissions": {
          "description": "Whether this Container supports user permissions managed by GTM.",
          "type": "boolean"
        },
        "supportEnvironments": {
          "type": "boolean",
          "description": "Whether this Container supports environments."
        },
        "supportWorkspaces": {
          "type": "boolean",
          "description": "Whether this Container supports workspaces."
        },
        "supportTransformations": {
          "type": "boolean",
          "description": "Whether this Container supports transformations."
        },
        "supportBuiltInVariables": {
          "type": "boolean",
          "description": "Whether this Container supports built-in variables"
        },
        "supportClients": {
          "description": "Whether this Container supports clients.",
          "type": "boolean"
        },
        "supportGtagConfigs": {
          "description": "Whether this Container supports Google tag config.",
          "type": "boolean"
        }
      },
      "id": "ContainerFeatures"
    },
    "RevertZoneResponse": {
      "id": "RevertZoneResponse",
      "type": "object",
      "properties": {
        "zone": {
          "description": "Zone as it appears in the latest container version since the last workspace synchronization operation. If no zone is present, that means the zone was deleted in the latest container version.",
          "$ref": "Zone"
        }
      },
      "description": "The result of reverting a zone in a workspace."
    },
    "Entity": {
      "id": "Entity",
      "properties": {
        "folder": {
          "description": "The folder being represented by the entity.",
          "$ref": "Folder"
        },
        "transformation": {
          "$ref": "Transformation",
          "description": "The transformation being represented by the entity."
        },
        "gtagConfig": {
          "description": "The gtag config being represented by the entity.",
          "$ref": "GtagConfig"
        },
        "zone": {
          "description": "The zone being represented by the entity.",
          "$ref": "Zone"
        },
        "changeStatus": {
          "enum": [
            "changeStatusUnspecified",
            "none",
            "added",
            "deleted",
            "updated"
          ],
          "enumDescriptions": [
            "",
            "The entity has never been changed.",
            "The entity is added to the workspace.",
            "The entity is deleted from the workspace.",
            "The entity has been updated in the workspace."
          ],
          "type": "string",
          "description": "Represents how the entity has been changed in the workspace."
        },
        "variable": {
          "description": "The variable being represented by the entity.",
          "$ref": "Variable"
        },
        "builtInVariable": {
          "description": "The built in variable being represented by the entity.",
          "$ref": "BuiltInVariable"
        },
        "tag": {
          "description": "The tag being represented by the entity.",
          "$ref": "Tag"
        },
        "client": {
          "$ref": "Client",
          "description": "The client being represented by the entity."
        },
        "trigger": {
          "description": "The trigger being represented by the entity.",
          "$ref": "Trigger"
        },
        "customTemplate": {
          "$ref": "CustomTemplate",
          "description": "The custom template being represented by the entity."
        }
      },
      "type": "object",
      "description": "A workspace entity that may represent a tag, trigger, variable, or folder in addition to its status in the workspace."
    },
    "CreateBuiltInVariableResponse": {
      "type": "object",
      "properties": {
        "builtInVariable": {
          "items": {
            "$ref": "BuiltInVariable"
          },
          "type": "array",
          "description": "List of created built-in variables."
        }
      },
      "id": "CreateBuiltInVariableResponse"
    },
    "Zone": {
      "description": "Represents a Google Tag Manager Zone's contents.",
      "properties": {
        "accountId": {
          "type": "string",
          "description": "GTM Account ID."
        },
        "zoneId": {
          "description": "The Zone ID uniquely identifies the GTM Zone.",
          "type": "string"
        },
        "name": {
          "description": "Zone display name.",
          "type": "string"
        },
        "tagManagerUrl": {
          "type": "string",
          "description": "Auto generated link to the tag manager UI"
        },
        "childContainer": {
          "items": {
            "$ref": "ZoneChildContainer"
          },
          "type": "array",
          "description": "Containers that are children of this Zone."
        },
        "path": {
          "description": "GTM Zone's API relative path.",
          "type": "string"
        },
        "notes": {
          "type": "string",
          "description": "User notes on how to apply this zone in the container."
        },
        "workspaceId": {
          "description": "GTM Workspace ID.",
          "type": "string"
        },
        "boundary": {
          "$ref": "ZoneBoundary",
          "description": "This Zone's boundary."
        },
        "typeRestriction": {
          "description": "This Zone's type restrictions.",
          "$ref": "ZoneTypeRestriction"
        },
        "containerId": {
          "type": "string",
          "description": "GTM Container ID."
        },
        "fingerprint": {
          "description": "The fingerprint of the GTM Zone as computed at storage time. This value is recomputed whenever the zone is modified.",
          "type": "string"
        }
      },
      "id": "Zone",
      "type": "object"
    },
    "RevertTriggerResponse": {
      "description": "The result of reverting a trigger in a workspace.",
      "type": "object",
      "id": "RevertTriggerResponse",
      "properties": {
        "trigger": {
          "$ref": "Trigger",
          "description": "Trigger as it appears in the latest container version since the last workspace synchronization operation. If no trigger is present, that means the trigger was deleted in the latest container version."
        }
      }
    },
    "Variable": {
      "description": "Represents a Google Tag Manager Variable.",
      "type": "object",
      "id": "Variable",
      "properties": {
        "name": {
          "description": "Variable display name.",
          "type": "string"
        },
        "disablingTriggerId": {
          "description": "For mobile containers only: A list of trigger IDs for disabling conditional variables; the variable is enabled if one of the enabling trigger is true while all the disabling trigger are false. Treated as an unordered set.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "parameter": {
          "type": "array",
          "items": {
            "$ref": "Parameter"
          },
          "description": "The variable's parameters."
        },
        "scheduleStartMs": {
          "format": "int64",
          "type": "string",
          "description": "The start timestamp in milliseconds to schedule a variable."
        },
        "notes": {
          "description": "User notes on how to apply this variable in the container.",
          "type": "string"
        },
        "formatValue": {
          "description": "Option to convert a variable value to other value.",
          "$ref": "VariableFormatValue"
        },
        "type": {
          "description": "GTM Variable Type.",
          "type": "string"
        },
        "enablingTriggerId": {
          "type": "array",
          "description": "For mobile containers only: A list of trigger IDs for enabling conditional variables; the variable is enabled if one of the enabling triggers is true while all the disabling triggers are false. Treated as an unordered set.",
          "items": {
            "type": "string"
          }
        },
        "workspaceId": {
          "description": "GTM Workspace ID.",
          "type": "string"
        },
        "scheduleEndMs": {
          "description": "The end timestamp in milliseconds to schedule a variable.",
          "type": "string",
          "format": "int64"
        },
        "tagManagerUrl": {
          "description": "Auto generated link to the tag manager UI",
          "type": "string"
        },
        "parentFolderId": {
          "type": "string",
          "description": "Parent folder id."
        },
        "path": {
          "description": "GTM Variable's API relative path.",
          "type": "string"
        },
        "accountId": {
          "description": "GTM Account ID.",
          "type": "string"
        },
        "variableId": {
          "description": "The Variable ID uniquely identifies the GTM Variable.",
          "type": "string"
        },
        "containerId": {
          "type": "string",
          "description": "GTM Container ID."
        },
        "fingerprint": {
          "type": "string",
          "description": "The fingerprint of the GTM Variable as computed at storage time. This value is recomputed whenever the variable is modified."
        }
      }
    },
    "QuickPreviewResponse": {
      "id": "QuickPreviewResponse",
      "properties": {
        "compilerError": {
          "description": "Were there compiler errors or not.",
          "type": "boolean"
        },
        "syncStatus": {
          "description": "Whether quick previewing failed when syncing the workspace to the latest container version.",
          "$ref": "SyncStatus"
        },
        "containerVersion": {
          "description": "The quick previewed container version.",
          "$ref": "ContainerVersion"
        }
      },
      "description": "Response to quick previewing a workspace.",
      "type": "object"
    },
    "ListTriggersResponse": {
      "description": "List triggers response.",
      "properties": {
        "trigger": {
          "type": "array",
          "items": {
            "$ref": "Trigger"
          },
          "description": "All GTM Triggers of a GTM Container."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token for fetching the next page of results."
        }
      },
      "id": "ListTriggersResponse",
      "type": "object"
    },
    "Destination": {
      "description": "Represents a Google Tag Destination.",
      "type": "object",
      "id": "Destination",
      "properties": {
        "destinationId": {
          "description": "Destination ID.",
          "type": "string"
        },
        "tagManagerUrl": {
          "type": "string",
          "description": "Auto generated link to the tag manager UI."
        },
        "destinationLinkId": {
          "description": "The Destination link ID uniquely identifies the Destination.",
          "type": "string"
        },
        "accountId": {
          "description": "GTM Account ID.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Destination display name."
        },
        "containerId": {
          "description": "GTM Container ID.",
          "type": "string"
        },
        "fingerprint": {
          "description": "The fingerprint of the Google Tag Destination as computed at storage time. This value is recomputed whenever the destination is modified.",
          "type": "string"
        },
        "path": {
          "type": "string",
          "description": "Destination's API relative path."
        }
      }
    },
    "ZoneTypeRestriction": {
      "id": "ZoneTypeRestriction",
      "type": "object",
      "properties": {
        "whitelistedTypeId": {
          "items": {
            "type": "string"
          },
          "description": "List of type public ids that have been whitelisted for use in this Zone.",
          "type": "array"
        },
        "enable": {
          "type": "boolean",
          "description": "True if type restrictions have been enabled for this Zone."
        }
      },
      "description": "Represents a Zone's type restrictions."
    },
    "ListVariablesResponse": {
      "id": "ListVariablesResponse",
      "properties": {
        "nextPageToken": {
          "description": "Continuation token for fetching the next page of results.",
          "type": "string"
        },
        "variable": {
          "items": {
            "$ref": "Variable"
          },
          "description": "All GTM Variables of a GTM Container.",
          "type": "array"
        }
      },
      "description": "List Variables Response.",
      "type": "object"
    },
    "GetWorkspaceStatusResponse": {
      "type": "object",
      "properties": {
        "workspaceChange": {
          "type": "array",
          "description": "Entities that have been changed in the workspace.",
          "items": {
            "$ref": "Entity"
          }
        },
        "mergeConflict": {
          "description": "The merge conflict after sync.",
          "type": "array",
          "items": {
            "$ref": "MergeConflict"
          }
        }
      },
      "id": "GetWorkspaceStatusResponse",
      "description": "The changes that have occurred in the workspace since the base container version."
    },
    "MergeConflict": {
      "description": "Represents a merge conflict.",
      "properties": {
        "entityInWorkspace": {
          "description": "The workspace entity that has conflicting changes compared to the base version. If an entity is deleted in a workspace, it will still appear with a deleted change status.",
          "$ref": "Entity"
        },
        "entityInBaseVersion": {
          "$ref": "Entity",
          "description": "The base version entity (since the latest sync operation) that has conflicting changes compared to the workspace. If this field is missing, it means the workspace entity is deleted from the base version."
        }
      },
      "id": "MergeConflict",
      "type": "object"
    },
    "ListTemplatesResponse": {
      "id": "ListTemplatesResponse",
      "type": "object",
      "properties": {
        "template": {
          "description": "All GTM Custom Templates of a GTM Container.",
          "items": {
            "$ref": "CustomTemplate"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token for fetching the next page of results."
        }
      }
    },
    "RevertTemplateResponse": {
      "type": "object",
      "description": "The result of reverting a template in a workspace.",
      "properties": {
        "template": {
          "description": "Template as it appears in the latest container version since the last workspace synchronization operation. If no template is present, that means the template was deleted in the latest container version.",
          "$ref": "CustomTemplate"
        }
      },
      "id": "RevertTemplateResponse"
    }
  },
  "baseUrl": "https://tagmanager.googleapis.com/",
  "title": "Tag Manager API",
  "batchPath": "batch",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "revision": "20260902",
  "servicePath": "",
  "protocol": "rest",
  "description": "This API allows clients to access and modify container and tag configuration.",
  "resources": {
    "accounts": {
      "methods": {
        "update": {
          "request": {
            "$ref": "Account"
          },
          "flatPath": "tagmanager/v2/accounts/{accountsId}",
          "path": "tagmanager/v2/{+path}",
          "parameters": {
            "path": {
              "type": "string",
              "description": "GTM Account's API relative path.",
              "pattern": "^accounts/[^/]+$",
              "location": "path",
              "required": true
            },
            "fingerprint": {
              "location": "query",
              "description": "When provided, this fingerprint must match the fingerprint of the account in storage.",
              "type": "string"
            }
          },
          "id": "tagmanager.accounts.update",
          "scopes": [
            "https://www.googleapis.com/auth/tagmanager.manage.accounts"
          ],
          "description": "Updates a GTM Account.",
          "response": {
            "$ref": "Account"
          },
          "parameterOrder": [
            "path"
          ],
          "httpMethod": "PUT"
        },
        "get": {
          "description": "Gets a GTM Account.",
          "flatPath": "tagmanager/v2/accounts/{accountsId}",
          "httpMethod": "GET",
          "parameterOrder": [
            "path"
          ],
          "path": "tagmanager/v2/{+path}",
          "parameters": {
            "path": {
              "location": "path",
              "required": true,
              "pattern": "^accounts/[^/]+$",
              "type": "string",
              "description": "GTM Account's API relative path."
            }
          },
          "id": "tagmanager.accounts.get",
          "scopes": [
            "https://www.googleapis.com/auth/tagmanager.edit.containers",
            "https://www.googleapis.com/auth/tagmanager.manage.accounts",
            "https://www.googleapis.com/auth/tagmanager.readonly"
          ],
          "response": {
            "$ref": "Account"
          }
        },
        "list": {
          "response": {
            "$ref": "ListAccountsResponse"
          },
          "parameterOrder": [],
          "id": "tagmanager.accounts.list",
          "description": "Lists all GTM Accounts that a user has access to.",
          "parameters": {
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Continuation token for fetching the next page of results."
            },
            "includeGoogleTags": {
              "type": "boolean",
              "location": "query",
              "description": "Also retrieve accounts associated with Google Tag when true."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/tagmanager.edit.containers",
            "https://www.googleapis.com/auth/tagmanager.manage.accounts",
            "https://www.googleapis.com/auth/tagmanager.readonly"
          ],
          "httpMethod": "GET",
          "flatPath": "tagmanager/v2/accounts",
          "path": "tagmanager/v2/accounts"
        }
      },
      "resources": {
        "containers": {
          "methods": {
            "combine": {
              "response": {
                "$ref": "Container"
              },
              "httpMethod": "POST",
              "description": "Combines Containers.",
              "path": "tagmanager/v2/{+path}:combine",
              "parameters": {
                "path": {
                  "location": "path",
                  "required": true,
                  "pattern": "^accounts/[^/]+/containers/[^/]+$",
                  "type": "string",
                  "description": "GTM Container's API relative path."
                },
                "containerId": {
                  "location": "query",
                  "type": "string",
                  "description": "ID of container that will be merged into the current container."
                },
                "settingSource": {
                  "type": "string",
                  "description": "Specify the source of config setting after combine",
                  "enum": [
                    "settingSourceUnspecified",
                    "current",
                    "other"
                  ],
                  "enumDescriptions": [
                    "",
                    "Keep the current container config setting after combine",
                    "Use config setting from the other tag after combine"
                  ],
                  "location": "query"
                },
                "allowUserPermissionFeatureUpdate": {
                  "type": "boolean",
                  "location": "query",
                  "description": "Must be set to true to allow features.user_permissions to change from false to true. If this operation causes an update but this bit is false, the operation will fail."
                }
              },
              "id": "tagmanager.accounts.containers.combine",
              "deprecated": true,
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.edit.containers"
              ],
              "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}:combine",
              "parameterOrder": [
                "path"
              ]
            },
            "snippet": {
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.edit.containers",
                "https://www.googleapis.com/auth/tagmanager.readonly"
              ],
              "path": "tagmanager/v2/{+path}:snippet",
              "parameterOrder": [
                "path"
              ],
              "description": "Gets the tagging snippet for a Container.",
              "response": {
                "$ref": "GetContainerSnippetResponse"
              },
              "parameters": {
                "path": {
                  "description": "Container snippet's API relative path.",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^accounts/[^/]+/containers/[^/]+$"
                }
              },
              "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}:snippet",
              "id": "tagmanager.accounts.containers.snippet",
              "httpMethod": "GET"
            },
            "list": {
              "httpMethod": "GET",
              "id": "tagmanager.accounts.containers.list",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListContainersResponse"
              },
              "parameters": {
                "parent": {
                  "location": "path",
                  "required": true,
                  "pattern": "^accounts/[^/]+$",
                  "description": "GTM Account's API relative path.",
                  "type": "string"
                },
                "pageToken": {
                  "description": "Continuation token for fetching the next page of results.",
                  "type": "string",
                  "location": "query"
                }
              },
              "flatPath": "tagmanager/v2/accounts/{accountsId}/containers",
              "description": "Lists all Containers that belongs to a GTM Account.",
              "path": "tagmanager/v2/{+parent}/containers",
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.edit.containers",
                "https://www.googleapis.com/auth/tagmanager.readonly"
              ]
            },
            "delete": {
              "httpMethod": "DELETE",
              "description": "Deletes a Container.",
              "parameterOrder": [
                "path"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.delete.containers"
              ],
              "path": "tagmanager/v2/{+path}",
              "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}",
              "parameters": {
[...]
